[Unit]
Description=gunicorn daemon
Requires=doorlockd-backend.socket
After=network.target

[Service]
Type=notify
User={{ user }}
Group={{ group }}
RuntimeDirectory=doorlockd-backend
WorkingDirectory={{ django_dir }}

# production django settings.py
Environment=DJANGO_SETTINGS_MODULE=doorlockd_backend.production_settings

# By default, gunicorn runs sync workers (one request per worker), which
# is fine for long-lived requests. For long polling or websockets, this
# should probably be switched to a threaded/async worker type.
ExecStart=poetry run gunicorn --workers 4 doorlockd_backend.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true


[Install]
WantedBy=multi-user.target
